<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="smoketest">
  <groups>
  <run>
  <include name="SmokeTest"/>
  </run>
  </groups>
    <classes>
      <class name="crm_proj.grptest"/>
      <class name="crm_proj.grpstest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
